## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##
terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
  }
}

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn    = "{{ aft_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by                  = "AFT"
    }
  }
}
